@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <div class="random-text-delete">
        Lorem ipsum dolor sit amet, hendrerit libero. Dolor molestie laoreet amet in, sit cursus vitae non per, ante odit ut, dictum sollicitudin. Turpis vestibulum ullamcorper, inceptos nunc lectus urna sollicitudin sociis, aliquam hic aptent fringilla aliquet odio, luctus nonummy nulla vel et in mauris. Litora natoque autem at, ut vivamus felis faucibus ridiculus facilisis ut, nibh non ac, ullamcorper vel, interdum ab et massa suspendisse iaculis. In ultrices non aliquam non mauris, sed blandit ac tempus fermentum ultricies magna, gravida tempus elit velit eget sodales, luctus nullam sed nulla sed ducimus. Facilisis et.
    </div>
</div>


<div class="parallax"></div>


<div class="container">
    <div class="todo-delete-text" >
        Lorem ipsum dolor sit amet, hendrerit libero. Dolor molestie laoreet amet in, sit cursus vitae non per, ante odit ut, dictum sollicitudin. Turpis vestibulum ullamcorper, inceptos nunc lectus urna sollicitudin sociis, aliquam hic aptent fringilla aliquet odio, luctus nonummy nulla vel et in mauris. Litora natoque autem at, ut vivamus felis faucibus ridiculus facilisis ut, nibh non ac, ullamcorper vel, interdum ab et massa suspendisse iaculis. In ultrices non aliquam non mauris.
    </div>
</div>


<div class="parallax2"></div>


<div class="container">
    <div class="todo-delete-text">
        Lorem ipsum dolor sit amet, hendrerit libero. Dolor molestie laoreet amet in, sit cursus vitae non per, ante odit ut, dictum sollicitudin. Turpis vestibulum ullamcorper, inceptos nunc lectus urna sollicitudin sociis, aliquam hic aptent fringilla aliquet odio, luctus nonummy nulla vel et in mauris. Litora natoque autem at, ut vivamus felis faucibus ridiculus facilisis ut, nibh non ac, ullamcorper vel, interdum ab et massa suspendisse iaculis. In ultrices non aliquam non mauris.
    </div>
</div>

